*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/coca-background.webp");
    header{
        nav{
            .container{
                margin-top: 20px;
                margin-bottom: 20px;
                    ul.navbar-nav{

                        li.nav-item{
                            margin-right: 30px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

    main{
        #welcome{
            .container{
                .row{
                    .col-md-12{
                        margin-top:80px;
                        h1{
                            font-weight: 900;
                            font-size: 70px;
                        }
    
                        .class-bold{
                            font-weight: bolder;
                            margin-bottom: 30px;
                        }
    
                        button{
                            padding: 10px 30px;
                            border-radius: 25px;
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        #form{
            margin-top: 70px;
            
            .container{
                padding: 80px 30px;
                position:relative;

                .box-white{
                    position:absolute;
                    top: -65px;
                    left:0;
                    
                    button{
                    padding: 20px 70px;
                    }
                }
            }
        }
       
    }
    }
